.tlag {
    margin-top: 4px;
    margin-bottom: 0px;
    font: 0.9em sans-serif;
    background: white;
    float: left;
    color: #826969;
    display: inline-block;
}

.button, .jessica {
    color: #2b0000;
    font: bold 1.2em sans-serif;
    background: #EEEAEA;
    border: 1px solid #EEEAEA;
    padding: 2px 6px 2px 6px;
    cursor: pointer;
}

.button:hover, .jessica:hover {
    background: #826969;
    border: 1px solid #826969;
    color: #EEEAEA;
}

.button:active {
    color: #e5ec4e;
    background: #c8b16f;
    border-top: 0px solid;
    border-left: 0px solid;
    border-right: 2px solid #c8b16f;
    border-bottom: 2px solid #c8b16f;
}

.jessica:active {
    color: #e5ec4e;
    background: #91c437;
    border-top: 0px solid;
    border-left: 0px solid;
    border-right: 2px solid #91c437;
    border-bottom: 2px solid #91c437;
}

.header {
    margin-bottom: 24px;
}

#status {
    margin-top: 16px;
    margin-bottom: 0px;
    font: 0.8em sans-serif;
    background: white;
    color: #826969;
}